@import "variables.scss";

html, body {
  height: 100%;  
  background-color: $background-color;
}

.main {
  text-align: center;
  padding-top: 50px;
  background-color: $container-color;
  min-height: 100vh;
}

.itemBox {
  padding: 8px;
}

.fluff {
  margin-left: 2px;
  margin-right: 2px;
}